.map-move-left {
  transition:All 1s ease;
  -webkit-transition:All 1s ease;
  -moz-transition:All 1s ease;
  -o-transition:All 1s ease;
  width: 80%;
}

.map-edit-container {
  display: block;
  width: 14%;
  height: 100%;
  float: right;
  position: fixed;
  overflow-y: scroll;
  top: 8%;
  left: 84%;
  padding-right: 10px;
  background: rgba(10, 10, 10, 0.7);
  /*border: 2px solid red;*/
}

.map-edit-container-move {
  transition:All 1s ease;
  -webkit-transition:All 1s ease;
  -moz-transition:All 1s ease;
  -o-transition:All 1s ease;
  height: 67%;
  margin-bottom: 10px;
}

.map-edit-form input.ng-invalid.ng-touched {
  border-color: #ff0317;
}

.map-edit-form input.ng-valid.ng-touched {
  border-color: #00ff11;
}
.map-edit-error{
    display: block;
    color: #ce3b3b;
    background: #fbbfbf;
    padding: 2px;
    margin-bottom: 10px;
    border: 1px solid #ce3b3b;
}

.map-edit-disabled {
  color: #000000;
}

.map-edit-radio {
  font-size: 14px;
}

.map-edit-radio input {
  margin-bottom: 8px;
}


        .generate-project-id-button {
          background-color: #004A7F;
          -webkit-border-radius: 10px;
          border-radius: 10px;
          border: none;
          color: #FFFFFF;
          cursor: pointer;
          display: inline-block;
          font-family: Arial;
          font-size: 20px;
          padding: 5px 10px;
          text-align: center;
          text-decoration: none;
          display: block;
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 10px;
        }

        @-webkit-keyframes glowing {
          0% { background-color: #004A7F; -webkit-box-shadow: 0 0 3px #004A7F; }
          50% { background-color: #0094FF; -webkit-box-shadow: 0 0 10px #0094FF; }
          100% { background-color: #004A7F; -webkit-box-shadow: 0 0 3px #004A7F; }
        }

        @-moz-keyframes glowing {
          0% { background-color: #004A7F; -moz-box-shadow: 0 0 3px #004A7F; }
          50% { background-color: #0094FF; -moz-box-shadow: 0 0 10px #0094FF; }
          100% { background-color: #004A7F; -moz-box-shadow: 0 0 3px #004A7F; }
        }

        @-o-keyframes glowing {
          0% { background-color: #004A7F; box-shadow: 0 0 3px #004A7F; }
          50% { background-color: #0094FF; box-shadow: 0 0 10px #0094FF; }
          100% { background-color: #004A7F; box-shadow: 0 0 3px #004A7F; }
        }

        @keyframes glowing {
          0% { background-color: #004A7F; box-shadow: 0 0 3px #004A7F; }
          50% { background-color: #0094FF; box-shadow: 0 0 10px #0094FF; }
          100% { background-color: #004A7F; box-shadow: 0 0 3px #004A7F; }
        }

        .generate-project-id-button {
          -webkit-animation: glowing 1500ms infinite;
          -moz-animation: glowing 1500ms infinite;
          -o-animation: glowing 1500ms infinite;
          animation: glowing 1500ms infinite;
        }
