<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <br>
  Search: <input type="text" class="form-control" ng-model="searchText"/>
  <br>
  <ul class="list-group admin">
    <li class="list-group-item admin" ng-repeat="user in users | filter: searchText">
        <strong>{{user.name}}</strong><br>
        <span class="text-muted blue">{{user.email}}</span>
        <select class="pull-right role" ng-model="selectedRole" ng-options="role.role for role in roles | orderBy: 'role'" ng-change="changeRole(user, selectedRole.role)">
          <option value="">{{user.role}}</option>
        </select>
        <a ng-click="delete(user)" class="trash pull-right"><span class="glyphicon glyphicon-trash"></span></a>
    </li>
  </ul>
</div>
