.angular-leaflet-map {
  width: auto;
  height: 100%;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  z-index: 0;
}

.leaflet-center {
  width: 100%;
  left: 38%;
}

.leaflet-leftish {
  width: 50%;
  left: 5%;

}

#searchBar{
  width: 46%;
}

.fullScreen {
  height: 100%;
  padding: 0 0;
}

/*.leaflet-control-layers-list {
  z-index: 1000;
  background-color: rgba(70, 67, 67, 0.73);
  color: white;
}*/

.mapPrint{
  background-color: rgba(0,0,0, 0.90);
  border-color: rgba(0,0,0, 0.90);
}


/*background-color: rgba(0,0,0, 0.70);
border-color: rgba(0,0,0, 0.50);;
}*/

/*.leaflet-right .leaflet-control {
  background-color: rgba(70, 67, 67, 0.73);
}*/

.leaflet-popup-content-wrapper, .leaflet-popup-tip{
  background: rgba(58, 58, 57, 0.81);
  padding: 0;
  margin: 0;
}

.leaflet-popup-close-button+.leaflet-popup-content-wrapper .leaflet-popup-content{
  padding: 10px 10px;
  margin: 0;
}
