<div class="tint fireflow-tint"></div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h2 class="fireflow-white">Fire Flow</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div ng-hide="test" class="well well-md fireflow-animation">
        <h3>Step One</h3>
        <p>Select Test Hydrant</p>
      </div>
      <div ng-show="test" class="thumbnail fireflow-white fireflow-animation">
        <img src="assets/images/testHydrantSm.png" alt="Test Hydrant">
        <div class="caption">
          <h3>Test Hydrant</h3>
          <p>{{test.message}}</p>
          <p ng-hide="flow"><a href="" ng-click="remove();test=false;" class="btn btn-primary" role="button">Remove</a></p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div ng-hide="flow" class="well well-md fireflow-animation">
        <h3>Step Two</h3>
        <p>Select Flow Hydrant</p>
      </div>
      <div ng-show="flow" class="thumbnail fireflow-white fireflow-animation">
        <img src="assets/images/flowHydrantSm.png" alt="Test Hydrant">
        <div class="caption">
          <h3>Flow Hydrant</h3>
          <p>{{flow.message}}</p>
          <p><a href="" ng-click="remove();flow=false" class="btn btn-primary" role="button">Remove</a></p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div ng-hide="flow && test" class="well well-md fireflow-animation">
        <h3>Step Three</h3>
        <p>Fill Out Form</p>
      </div>
      <div ng-show="flow && test" class="thumbnail fireflow-white fireflow-animation">
        <!-- <img src="assets/images/flowHydrantSm.png" alt="Test Hydrant"> -->
        <div class="caption">
          <h3>Fill out Form</h3>
          <p><a href="#" class="btn btn-success" role="button">Form</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="fireflow-progress">
      <progressbar ng-show="test" class="progress-striped active" value="dynamic" max="100" type="{{type}}">{{type}}</progressbar>
    </div>
  </div>
</div>
