<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container engview">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="page-header"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Engineering Firms</h1>
    </div>
  </div>
    <div class="row">
    <div class="col-sm-4">
      <form class="form engPad" name="form" ng-submit="addEngineeringFirm(form)" novalidate>

        <div class="form-group">
          <label>Full Name</label>

          <input type="text" name="name" class="form-control" ng-model="eng.name" ng-change="error.status = false"required/>
          <p class="help-block eng-help" ng-show="(form.name.$error.required) && (form.name.$dirty || submitted)">Please Enter Engineering Firm Name</p>
        </div>

        <div class="form-group">
          <label>Simplified Name</label>

          <input type="text" name="simplified" class="form-control" ng-model="eng.simp"/>
        </div>

        <div class="form-group">
          <label>Address</label>
          <address-search id="applicantAddress" ng-model="eng.address"></address-search>
        </div>

        <div class="form-group">
          <label>E-Mail</label>

          <input type="email" name="email" class="form-control" ng-model="eng.email"/>
        </div>

        <div class="form-group">
          <label>Phone</label>

          <input type="text" name="phone" placeholder="(919) 222-5555" class="form-control" pattern="\(\d*\) \d{3}-\d{4}" ng-model="eng.phone"/>
          <p class="help-block eng-help" ng-show="(form.phone.$error.pattern) && (form.phone.$dirty || submitted)">Please reformat phone number<br> (xxx) xxx-xxxx</p>
        </div>

        <div class="form-group">
          <label>Website</label>

          <input type="url" name="url" placeholder="http://www.google.com" class="form-control" ng-model="eng.url"/>
          <p class="help-block eng-help" ng-show="(form.url.$error.url) && (form.url.$dirty || submitted)">Not a vaild url<br> http://www.google.com</p>
        </div>

        <div class="form-group">
          <label>Active</label>
          <label class="radio-inline"><input type="radio" name="active"  ng-model="eng.active" value="1" checked> True</label>
          <label class="radio-inline"><input type="radio" name="active"  ng-model="eng.active" value="0"> False</label>
        </div>

        <button ng-show="( engData | filter:eng.name).length == 0 && form.$valid" class="btn btn-lg btn-primary eng-submit" type="submit">Add Firm</button>
      </form>
    </div>
    <div class="col-sm-8">
      <div cg-busy="{promise:engPromise,message:'Deleting document',backdrop:false, templateUrl:'components/loader/loader.html', wrapperClass: ''}"></div>
      <table  id="engtab" class="table">
        <thead id="eng-thead" class="table-bold text-primary">
          <th>Id</th>
          <th>Name</th>
          <th>Alias</th>
        </thead>
      </table>
      <div class="eng-table">
        <div cg-busy="{promise:engtable,message:'Loading Firms',backdrop:false}"></div>
        <table id="engtab" class="table">
        <tbody class="table-body">
          <tr class="table-view" ng-repeat="firm in engData | filter:eng.name | orderBy: 'ENGID'">
            <td>{{firm.ENGID}}</td>
            <td>{{firm.FULLNAME}}</td>
            <td>{{firm.SIMPLIFIEDNAME}}</td>

          </tr>
        </tbody>
      </table>
      <h2 class="text-center" ng-show="( engData | filter:eng.name).length == 0 && !error.status && !success.status">No Matching Record!<p>Ok to add</p></h2>
      <h2 class="text-center eng-error animated shake" ng-show="error.status">{{error.message}}</h2>
      <h2 class="text-center" ng-show="success.status">{{success.message}}</h2>
    </div>
    </div>

  </div>
</div>
<div ng-include="'components/footer/footer.html'"></div>
