<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container engview">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="page-header"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Engineering Firm</h1>
    </div>
  </div>
    <div class="row">
    <div class="col-sm-4">
      <form class="form engPad" name="form" ng-submit="addEngineeringFirm(form)" novalidate>

        <div class="form-group">
          <label>Full Name</label>

          <input type="text" name="name" class="form-control" ng-model="eng.name" ng-change="error.status = false"required/>
          <p class="help-block eng-help" ng-show="(form.name.$error.required) && (form.name.$dirty || submitted)">Please Enter Engineering Firm Name</p>
        </div>

        <div class="form-group">
          <label>Simplified Name</label>

          <input type="text" name="simplified" class="form-control" ng-model="eng.simp"/>
        </div>

        <button ng-show="( engData | filter:eng.name).length == 0 && !error.status" class="btn btn-lg btn-primary eng-submit" type="submit">Add Firm</button>
      </form>
    </div>
    <div class="col-sm-8">

      <table  id="engtab" class="table">
        <thead id="eng-thead" class="table-bold text-primary">
          <th>Id</th>
          <th>Name</th>
          <th>Alias</th>
        </thead>
      </table>
      <div class="eng-table">
        <div cg-busy="{promise:engtable,message:'Loading Firms',backdrop:false}"></div>
        <table id="engtab" class="table">
        <tbody class="table-body">
          <tr class="table-view" ng-repeat="firm in engData | filter:eng.name | orderBy: 'ENGID'">
            <td>{{firm.ENGID}}</td>
            <td>{{firm.FULLNAME}}</td>
            <td>{{firm.SIMPLIFIEDNAME}}</td>

          </tr>
        </tbody>
      </table>
      <h2 class="text-center" ng-show="( engData | filter:eng.name).length == 0 && !error.status && !success.status">No Matching Record!<p>Ok to add</p></h2>
      <h2 class="text-center eng-error animated shake" ng-show="error.status">{{error.message}}</h2>
      <h2 class="text-center" ng-show="success.status">{{success.message}}</h2>
    </div>
    </div>

  </div>
</div>
<div ng-include="'components/footer/footer.html'"></div>
