.engview {
  background: rgba(12, 4, 4, 0.77);
  border: 1px solid #fff;
  margin-top: 10em;
  height: 30%
  max-height:30%;
}

.engPad{
  padding-left: 1.5em;
}

.eng-table {
  max-height: 10%;
  height: 300px;
  overflow-y: auto;
  margin: 0 auto 3em auto;
}
 #engtab{
   margin: 0 auto 0 auto;
   width: 100%;
 }

.eng-help{
  color: #56a7ff;
}

.eng-submit{
  margin-bottom: 1em;
}

#eng-thead{
  width: 100%;
}

.eng-error {
  border: 1px solid #e91010;
  padding: 1em;
}
