<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Add Engineering Firm</h1>
    </div>
    <div class="col-sm-12">
      <form class="form" name="form" ng-submit="addEngineeringFirm(form)" novalidate>

        <div class="form-group">
          <label>Full Name</label>

          <input type="text" name="name" class="form-control" ng-model="eng.name"
                 mongoose-error/>
          <p class="help-block" ng-show="form.name.$error.mongoose">
              {{ errors.other }}
          </p>
        </div>

        <div class="form-group">
          <label>Simplified Name</label>

          <input type="text" name="simplified" class="form-control" ng-model="eng.simp"
                 ng-minlength="3"
                 required/>
          <p class="help-block"
             ng-show="(form.simp.$error.minlength || form.simp.$error.required) && (form.simp.$dirty || submitted)">
            Password must be at least 3 characters.
          </p>
        </div>

        <p class="help-block"> {{ message }} </p>

        <button class="btn btn-lg btn-primary" type="submit">Save changes</button>
      </form>
    </div>
  </div>
</div>
