<div ng-switch="type">
<table ng-switch-when="popup" class="table pd-table" >
  <thead>
    <th class="text-primary">Key</th>
    <th class="text-primary">Value</th>
    <th></th>
  </thead>
  <tbody ng-if="isDocument === false">
    <tr ng-repeat="(key, value) in project">
      <td>{{key}}</td>
      <td ng-if="key !== 'HYPERLINK'">{{value}}</td>
      <td ng-if="key === 'HYPERLINK'"><a id="doc-link" href="" ng-click="popup(value)">Link</a><td>
    </tr>
  </tbody>
</table>


<table ng-switch-when="document" class="table pd-table" >
  <thead>
    <th class="text-primary">Key</th>
    <th class="text-primary">Value</th>
  </thead>
  <tbody>
    <tr>
      <td>Seal Date</td>
      <td>{{project.SEALDATE | date : 'shortDate'}}</td>
    </tr>
    <tr>
      <td>Document Type</td>
      <td>{{project.DOCUMENTTYPE}}</td>
    </tr>
    <tr>
      <td>Sheet Type</td>
      <td>{{project.SHEETTYPE}}</td>
    </tr>
    <tr>
      <td>Engineering Firm</td>
      <td>{{project.SIMPLIFIEDNAME}}</td>
    </tr>
    <tr>
      <td>Alias</td>
      <td>{{project.ALIAS}}</td>
    </tr>
    <tr>
      <td>Former Name</td>
      <td>{{project.FORMERNAME}}</td>
    </tr>
    <tr>
      <td>Water</td>
      <td class="water">{{project.WATER}}</td>
    </tr>
    <tr>
      <td>Sewer</td>
      <td class="sewer">{{project.SEWER}}</td>
    </tr>
    <tr>
      <td>Reuse</td>
      <td class="reuse">{{project.REUSE}}</td>
    </tr>
    <tr>
      <td>Storm</td>
      <td class="strom">{{project.STORM}}</td>
    </tr>
  </tbody>
</table>


<table ng-switch-when="project" class="table pd-table" >
  <thead>
    <th class="text-primary">Key</th>
    <th class="text-primary">Value</th>
  </thead>
  <tbody>
    <tr>
      <td>Project ID</td>
      <td>{{project['Project ID']}}</td>
    </tr>
    <tr>
      <td>Project Name</td>
      <td>{{project['Project Name']}}</td>
    </tr>
    <tr>
      <td>Development Plan ID</td>
      <td>{{project['Development Plan ID']}}</td>
    </tr>
    <tr>
      <td>DEVPLAN APPROVAL</td>
      <td>{{project['DEVPLAN APPROVAL']}}</td>
    </tr>
    <tr ng-if="project['Warranty End Date']">
      <td>Warranty End Date</td>
      <td>{{project['Warranty End Date']}}</td>
    </tr>
    <tr ng-if="project.Alias">
      <td>Alias</td>
      <td>{{project.Alias}}</td>
    </tr>
    <tr ng-if="project['Former Name']">
      <td>Former Name</td>
      <td>{{project['Former Name']}}</td>
    </tr>
    <tr>
      <td>Construction Plan Link</td>
      <td><a class="cp-link" ng-click="popup(project['Construction Plan Link'])">Link</a></td>
    </tr>
    <tr>
      <td>CIP</td>
      <td>{{project.CIP}}</td>
    </tr>
    <tr>
      <td>Water</td>
      <td class="water">{{project.Water}}</td>
    </tr>
    <tr>
      <td>Sewer</td>
      <td class="sewer">{{project.Sewer}}</td>
    </tr>
    <tr>
      <td>Reuse</td>
      <td class="reuse">{{project.Reuse}}</td>
    </tr>
    <tr>
      <td>Storm</td>
      <td class="strom">{{project.Storm}}</td>
    </tr>
    <tr ng-if="project.Notes">
      <td>Notes</td>
      <td>{{project.Notes}}</td>
    </tr>
  </tbody>
</table>

</div>
