<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <tabset justified="true">
        <tab ng-repeat="vid in vids" heading="{{vid.Date | date: 'short'}}" select="">
          <table id="itpipes-asset" class="table pd-table">
            <thead class="text-primary">
              <th colspan="2">Asset:</th>
            </thead>
            <tbody>
              <tr>
                <td>Pipe Segment:</td>
                <td>{{vid.ML_Name}}</td>
              </tr>
              <tr>
                <td>City:</td>
                <td>{{vid.City}}</td>
              </tr>
              <tr>
                <td>Street:</td>
                <td>{{vid.Street}}</td>
              </tr>
              <tr>
                <td>Sewer Use:</td>
                <td>{{vid['Sewer Use']}}</td>
              </tr>
              <tr>
                <td>US Manhole:</td>
                <td>{{vid['US Manhole']}}</td>
              </tr>
              <tr>
                <td>DS Manhole:</td>
                <td>{{vid['DS Manhole']}}</td>
              </tr>
              <tr>
                <td>Material:</td>
                <td>{{vid.Material}}</td>
              </tr>
              <tr>
                <td>Heigth:</td>
                <td>{{vid.Height}}</td>
              </tr>
              <tr>
                <td>Width:</td>
                <td>{{vid.Width}}</td>
              </tr>
              <tr>
                <td>Total Length:</td>
                <td>{{vid.Section_Length | number:2}}</td>
              </tr>
              <tr>
                <td>GIS Change:</td>
                <td>{{vid.GIS_Change}}</td>
              </tr>
            </tbody>
          </table>
          <table class="table pd-table">
            <thead class="text-primary">
              <th colspan="2">Inspection:</th>
            </thead>
            <tbody>
              <tr>
                <td>Surveyed By:</td>
                <td>{{vid['Surveyed By']}}</td>
              </tr>
              <tr>
                <td>Certificate #:</td>
                <td>{{vid['Certificate Number']}}</td>
              </tr>
              <tr>
                <td>Date:</td>
                <td>{{vid.Date | date: 'short'}}</td>
              </tr>
              <tr>
                <td>Purpose:</td>
                <td>{{vid.Purpose}}</td>
              </tr>
              <tr>
                <td>Pre-Cleaning:</td>
                <td>{{vid['Pre-Cleaning']}}</td>
              </tr>
              <tr>
                <td>Direction:</td>
                <td>{{vid.Direction}}</td>
              </tr>
              <tr>
                <td>Weather:</td>
                <td>{{vid.Weather}}</td>
              </tr>
              <tr>
                <td>Length Surveyed:</td>
                <td>{{vid['Length Surveyed'] | number:2}}</td>
              </tr>
              <tr>
                <td>Time:</td>
                <td>{{vid.Time | date: 'short'}}</td>
              </tr>
              <tr>
                <td>End Time:</td>
                <td>{{vid['End Time'] | date: 'short'}}</td>
              </tr>
            </tbody>
          </table>
        </tab>
      </tabset>
    </div>
    <div class="col-md-6">
      <tabset justified="true">
        <tab heading="Images" select="">
          <img class="img-responsive img-thumbnail itpipes-margin" ng-src="http://telepipeprdapp1.ci.raleigh.nc.us/ITMedia/{{imgs[0].Image}}" alt="img.File_Type"/>
        </tab>
        <tab heading="Video" select="">
          <object class="itpipes-margin" type="video/x-ms-wmv" data="http://telepipeprdapp1.ci.raleigh.nc.us/ITMedia/Mainline/SMH116624SMH112324/2014.09.26_0935/Videos/1_SMH116624_SMH112324.wmv" width="574" height="430" z-index:1="" title="undefined">
            <param name="autostart" value="false">
            <param name="sound" value="false">
            <param name="controller" value="true">
            <param name="wmode" value="transparent">
          </object>
        </tab>
      </tabset>
      <div class="row">
        <div class="col-md-12">
          <ul class="list-inline list-unstyled">
            <li class="itpipes-sm-img" ng-repeat="img in imgs">
              <a href="#" class="itpipes-link thumbnail">
                <img class="itpipes-img" ng-src="http://telepipeprdapp1.ci.raleigh.nc.us/ITMedia/{{img.Image}}" alt="img.File_Type"/>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <table class="table pd-table">
            <thead class="text-primary">
              <th>Dist</th>
              <th>Code</th>
              <th>Description</th>
              <th>Remarks</th>
              <th>Grd</th>
              <th>Clock</th>
              <th>Con</th>
              <th>%</th>
              <th>V1</th>
              <th>V2</th>
              <th>Jnt</th>
            </thead>
            <tbody>
              <tr ng-repeat="img in imgs">
                <td>{{img.Dist | number:2}}</td>
                <td>{{img.Code}}</td>
                <td>{{img.Description}}</td>
                <td>{{img.Remarks}}</td>
                <td>{{img.Grd}}</td>
                <td>{{img.Clock}}</td>
                <td>{{img['%']}}</td>
                <td>{{img.V1}}</td>
                <td>{{img.V2}}</td>
                <td>{{img.Jnt}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
