/*.itpipes-category {
position:relative;
display: inline-block;
float:left;
padding:10px;
}


.itpipes-category img {
  height: 100px;

}*/
#itpipes-asset{
    margin-top: 1em;
}
.itpipes-margin{
    margin-top: 1em;
}

.imageScroll {
  overflow-y: hidden;
  height: 100px;
  margin: 5px 0;
}

.imageThumb {
  display: block;
  margin: 2px;
}

.itpipes-img {
  height: 100px;
  width: 125px;
}

.itpipes-link.thumbnail:hover{
  border: 1px solid #428bca;
  background: #428bca;
}

.itpipes-sm-img{
  margin-top: 1em;
}
