#pdfPageView{
  /*margin: 0 auto;*/
}
.pd-container{
  background-color: rgba(0, 0, 0, 0.5);
}
.container-fluid{
  height: 100%;
}
.pdfContainer {
  height: 100%;
  width: 100%;
  /*padding: 10px 0;*/
  min-height:100%
}
